<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/posts">Posts</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuth">
        <a routerLink="/new">Nouveau Post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="auth/signup" *ngIf="!isAuth">Creer un compte</a>
      </li>
      <li routerLinkActive="active"*ngIf="!isAuth">
        <a routerLink="auth/signin" >Se connecter</a>
      </li>
      <li *ngIf="isAuth">
        <a (click)="onSignOut()" style="cursor: pointer">Se deconnecter</a>
      </li>
    </ul>
  </div>
</nav>
